<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contract : </br>
  Md.Habibur Rahman</br>
  B.Sc. in CSE (UAP), MBA (DU), M.Sc. in Informatics(TUM)</br>
  Phone: +49-17645758687</br>
  Email: habib_tum@ymail.com
</p>