<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  You can follow the following procedure :
  <ol>
    <li>Sign Up
    <li>view your profile
    <li>post your status
    <li>settings your profile if necessary
    <li>login if you are not access any above function
    <li>logout if you do not want to use this website anymore
  </ol>
</p>
